

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f2ee;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    line-height: 1.6;
    padding: 15px;
    margin:15px
}

h1{
    font-family:'Gill Sans', sans-serif;
    color: rgb(158, 19, 19);
}


.table {
    margin: 20px 0; 
}

table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid blue; 
    padding: 10px;
    text-align: left;
}


#list {
    padding: 10%;
    margin-left: 10px;
}

